*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(#333 98%, #fff 2%);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    padding: 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
}
header h1{
    text-align: center;
    color: #fff;
}
main{
    max-width: 800px;
    width: 95%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
main .box{
    width: 100%;
    height: 90%;
    background: pink;
    border-radius: 2px;
}
main .code{
    width: 100%;
    height: 10%;
    color: #fff;
    margin: 4px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
main button{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: 100px;
    border-radius: 20px;
}